<!doctype html>
<html lang="en">
  <head>
    <title>AddItem</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar bg-dark fixed-top">
        <a class="navbar-brand" href="/"><h1><span class="highlight">filo</h1></a>
          <button class="navbar-toggler" type="button"data-toggle="collapse" data-target="#navbarResponsive">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a href="/items"class="nav-link">lost items</a>
                  </li>
                  <li class="nav-item">
                      <a href="/additem"class="nav-link">add item</a>
                  </li>
                  <li class="nav-item">
                      <a href="/logout"class="nav-link">logout</a>
                  </li>
              </ul>
          </div>
    </nav>
    <form action="/additem" method="POST">
      <div class="container form">
          <h1>Add Item</h1>
          <p>Please fill in this form to add an item.</p>
          <hr>

          <label for="description"><b>Description</b></label>
          <input type="text" placeholder="Enter Description" name="description">

          <label for="category"><b>Category</b></label>
          <input type="text" placeholder="Enter item category" name="category">

          <label for="colour"><b>Colour</b></label>
          <input type="text" placeholder="Enter colour" name="colour" required>

          <label for="date"><b>Date lost</b></label>
          <input type="date" id="inputDate" placeholder="Enter date lost" name="date" required>

          <label for="imageURL"><b>Image url</b></label>
          <input type="text" placeholder="Enter imageURL" name="imageURL" required>

          <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
        </div>
    </form>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
