article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}


h1 {
color: black
}

* {
  font-family: 'Raleway', sans-serif;
}
html, body {
  background-color: #f8f9fa!important
}

.pls {
  opacity: 10%
}

.item-text {
  margin: 0px
}

#inputDate {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}


#mainHeading {
  font-size: 4.5rem
}

.container.form {
  width: 50%;
  margin-top: 10%
}

#registerContainer, container.requests {
  width: 50%
}

.itemContainer {
  /* width: 50% */
}

.highlight {
  color: rgba(255,255,255,.5)
}

.highlight:hover {
  color: rgba(255,255,255,.75)
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.img {
  width: 100%
}

.container.item {
  width: 50%;
  padding-top: 7%
}


/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}
